.hero {
    background-color: white;
}

.hero-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 40px 0;
}

.img-responsive {
    width: 80%;
    height: auto;
    margin: 0 auto;
}
