<%= render 'layouts/header' %>

<div class="register-form-wrap container">
  <h2 class="register-header text-center">Register a New account</h2>
  <%= render 'form', user: @user %>

  <%= link_to 'Back', users_path %>

</div>

<%= render 'layouts/footer' %>
