<section id="all_tutors">
  <div class="container all_tutors_wrap">
    <div class="all_tutors_header text-center">
      <h2>Tutors</h2>
    </div>
    <div class="all_tutors_body">
    <% @tutors.each do |m| %>
      <div class="card all_tutors_card">
        <div class="all_tutors_card_img">
          <img src="https://res.cloudinary.com/house16-design-studio/image/upload/v1573566670/bookatutor/default-profile.png" alt="Book A Tutor">
        </div>
        <div class="all_tutors_card_name">
          <h4><%= m.user.firstname %>, <%= m.user.lastname %></h4>
        </div>
        <div class="all_tutors_card_headline">
          <p><%= m.headline %></p>
        </div>
        <div class="all_tutors_card_view_profile_button">
          <%= link_to  "View Profile", user_profile_path(m.user) %>
        </div>
      
      </div>
    <% end %>
    </div>
  </div>
</section>