<section id="lesson-details" class="container text-center">
  <h1>Lesson Details</h1>

  <% if @lesson == nil %>
    <h2> This booking hasn't created a lesson </h2>

  <% else %>

  <div class="lesson-details-fields">
    <div class="lesson-detail">
      <h3>Start: </h3>
      <p><%= Time.at(@lesson.start).httpdate %></p>
    </div>

    <% if @lesson.end != nil %>
      <div class="lesson-detail">
        <h3>End: </h3>
        <p><%= @lesson.start %></p>
      </div>
    <% end %>

    <div class="lesson-detail">
      <%= link_to 'End lesson', user_booking_lesson_end_path(@user, @booking, @lesson), method: :post, data: { confirm: 'Are you sure you want to end this lesson?' } %> |
      <%= link_to 'Cancel lesson', user_booking_lesson_path(@user, @booking, @lesson), method: :delete, data: { confirm: 'Are you sure you want to delete this lesson?' } %>
    </div>


  </div>


  <% end %>

</section>