.site-header {
    display: flex;
    justify-content: space-between;
    background-color: #3347b3;
    box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.13);
    padding: 10px;
    color: white;
}

.navigation-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu-list {
    padding: 0 10px;
}
