html body {
  background-color: #f0f0f0;
  a:visited,
  a {
    color: inherit;
  }
}

.btn-tutor {
    background-color: #3347b3;
    color: white;
}

.register-login-form {
    max-width: 600px;
    margin: 0 auto;
}

.btn-center {
  display: flex !important;
  margin: 0 auto;
}

.wrap-center {
  margin: 20px auto;
  width: fit-content;
  padding: 10px;
}


