html body {
  background-color: #f0f0f0;
}

.btn-tutor {
    background-color: #3347b3;
    color: white;
}

.register-form {
    max-width: 600px;
    margin: 0 auto;
}

.btn-center {
  display: flex !important;
  margin: 0 auto;
}
