html body {
  background-color: #f0f0f0;
  a:visited,
  a {
    color: inherit;
  }
}

.btn-tutor {
    background-color: #3347b3;
    color: white;
}

.register-login-form {
    max-width: 600px;
    margin: 0 auto;
}

.btn-center {
  display: flex !important;
  margin: 0 auto;
}

.wrap-center {
  margin: 20px auto;
  width: fit-content;
  padding: 10px;
}

.form-center {
  margin: 20px auto;
  padding: 10px;
  width: 50%
}

textarea {
  height: 215px;
}

.date-select{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hide {
  display: none !important;
}

.profile-body {
  width: fit-content;
  margin: 0 auto;
}


