<header>
    <div class="site-header container-fluid">
        <div class="logo">
            <h2>Book A Tutor</h2>
        </div>
        <div class="navigation">
          <nav>
            <ul class="navigation-menu">
              <li class="menu-list">Home</li>
              <li class="menu-list">Tutors</li>
              <li class="menu-list">Dashboard</li>
              <li class="menu-list">Sign In</li>
            </ul>
          </nav>
        </div>
    </div>
</header>
